<div class="">
  <h1>Usuwanie użytkownika</h1>

  <%= link_to("Wróć", {:action => 'index'}) %>

  <%= form_for(:user, :url => {:action => "drop", :id => @user.id}) do |field|%>
  <p>Czy napewno chcesz usunąć użytkownika <b><%=@user.name%></b>?</p>
  <p>
    Naciśnięcie "Usuń" spowoduje nieodwracalne zmiany.
  </p>

    <%= submit_tag("Usuń") %>
  <% end %>
</div>
