<div class="">
  <h1>Usuwanie klienta</h1>

  <%= link_to("Wróć", {:action => 'index'}) %>

  <%= form_for(:client, :url => {:action => "drop", :id => @client.id}) do |field|%>
  <p>Czy napewno chcesz usunąć <b><%=@client.name%></b>?</p>
  <p>
    Naciśnięcie "Usuń" spowoduje nieodwracalne zmiany.
  </p>

    <%= submit_tag("Usuń") %>
  <% end %>
</div>
