<div class="">
  <h1>Usuwanie kuriera <%= @courier.name %></h1>

  <%= link_to("Wróć", {:action => 'index'}) %>

  <%= form_for(:courier, :url => {:action => "drop", :id => @courier.id}) do |field|%>
    <p>Czy napewno chcesz usunąć kuriera?</p>
    <p>
      Naciśnięcie "Usuń" spowoduje nieodwracalne zmiany.
    </p>
    <%= submit_tag("Usuń") %>
  <% end %>
</div>
