<table>
 <tr>
   <th> <%= field.label(:order_number, "Numer zamówienia:")%> </th>
   <td> <%= field.text_field(:order_number)%></td>
 </tr>
 <tr>
   <th> <%= field.label(:status, "Status:")%> </th>
   <td> <%= field.text_field(:status)%></td>
 </tr>
</table>
