<div class="">
  <h1>Usuwanie zamówienia</h1>

  <%= link_to("Wróć", {:action => 'index'}) %>

  <%= form_for(:order, :url => {:action => "drop", :id => @order.id}) do |field|%>
  <p>Czy napewno chcesz usunąć zamówienie?</p>
  <p>
    Naciśnięcie "Usuń" spowoduje nieodwracalne zmiany"
  </p>

    <%= submit_tag("Usuń") %>
  <% end %>
</div>
