<div class="wrapper-login">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h3>Dodaj nowe zamówienie</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 bg-all">
        <% if client_signed_in? %>
          <a class="btn btn-raised btn-default" href="/client_panel">Panel klienta</a>
        <% elsif user_signed_in? %>
          <%= link_to("Wróć", {:action => 'index'}, :class=>"btn btn-raised btn-default") %>
        <% end %>

        <%= form_for(:order, :url => {:action => "create"}) do |field|%>
          <%= render(:partial => "form", :locals => {:field => field})%>
          <%= submit_tag("Dodaj", :class=>"btn btn-raised btn-success") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
