        <div class="wrapper-login">
            <div class="container">
                <div class="row">
                    <div class=" col-xs-12">
                        <div class="col-xs-12">
                            <h3>Zaplecze administratora</h3>
                            <h5>Koń Kurier</h5>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: 30px;"">
                    <div class="content-main col-xs-12">
                        <div class="options col-xs-12 no-padding">
                            <ul class="panel-option col-xs-12">
                                <li class="panel-option-single col-xs-2">
                                    <a href="/">
                                        <div class="inner">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            Strona główna
                                        </div>
                                    </a>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <a href="/clients">
                                        <div class="inner">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            Klienci
                                        </div>
                                    </a>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <a href="/users">
                                        <div class="inner">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            Pracownicy
                                        </div>
                                     </a>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <a href="/orders">
                                        <div class="inner">
                                            <i class="fa fa-list-ol" aria-hidden="true"></i>
                                            Wszystkie zamówienia
                                        </div>
                                    </a>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <a href="/packages">
                                        <div class="inner">
                                            <i class="fa fa-archive" aria-hidden="true"></i>
                                            Paczki
                                        </div>
                                    </a>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <a href="/warehouses">
                                        <div class="inner">
                                            <i class="fa fa-building" aria-hidden="true"></i>
                                            Magazyny
                                        </div>
                                    </a>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <a href="/dispatchers_office">
                                        <div class="inner">
                                            <i class="fa fa-building" aria-hidden="true"></i>
                                            Dyspozytornie
                                        </div>
                                    </a>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <a href="/couriers">
                                        <div class="inner">
                                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                                            Kurierzy
                                        </div>
                                    </a>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <a href="/clients/sign_out">
                                        <div class="inner">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            Wyloguj się
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>