<div class="">
  <h1>Dodaj nową dyspozytornie</h1>

  <%= link_to("Wróć", {:action => 'index'}) %>
  <%= form_for(:dispatchers_office, :url => {:action => "create"}) do |field|%>
    <%= render(:partial => "form", :locals => {:field => field})%>
    <div >
      <%= submit_tag("Dodaj") %>
    </div>
  <% end %>
</div>
