        <div class="wrapper-login">
            <div class="container-fluid content">
                <div class="row">
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12 text-center">
                            <h3 style="margin: 25px 0px 30px 60px;">Dodaj nową dyspozytornie</h3>
                            <!-- <h5>Witamy w serwisie Koń Kurier</h5> -->
                        </div>
                        <div class="options newpack col-xs-12" style="height: 75%;">


                             <div class="">

                              <%= link_to("Wróć", {:action => 'index'}) %>
                              <%= form_for(:dispatcher_office, :url => {:action => "create"}) do |field|%>
                                <%= render(:partial => "form", :locals => {:field => field})%>
                                <div >
                                  <%= submit_tag("Dodaj") %>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



