
.alt-bg {
  background: #fafafa;
}
.alt-bg2 {
  background: #f5f5f5;
}
.alt-fam-font {
  text-transform: uppercase;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.item {
  position: relative;
}
.item img {
  width: 100%;
  height: 100%;
}
.carousel-inner {
  height: 100%;
  background: black;
}
.carousel-inner img {
  height: 100%;
}
.slider-caption {
  position: absolute;
  top: 35%;
  left: 0;
  margin: 30px;
  color: white;
}
.slider-caption .post-category {
  color: white;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 900;
}
@media only screen and (max-width: 540px) {
  .slider-caption .post-category {
    font-size: 30px;
    line-height: 30px;
  }
  .slider-caption .slide-blog-title {
    margin-top: 5px;
    margin-left: 5px;
  }
}
.slider-caption .slide-blog-title {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 10px;
}
.slider-caption .slide-blog-title a {
  font-weight: 300;
  color: #d8dde1;
}
.slider-caption .slide-blog-title a i {
  color: #c4c628;
}
.slider-caption a {
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.slider-caption a:hover {
  color: white;
  text-decoration: none;
}
.slider-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  color: white;
}
.slider-controls a {
  display: inline-block;
  color: white;
  float: left;
  padding: 15px 23px;
  margin: 0 !important;
  border: 2px solid #fff;
}
.slider-controls a:hover {
  background: rgba(0, 0, 0, 0.5);
}
.slider-controls a:hover i {
  color: white;
}
.slider-controls a i {
  color: white;
  font-size: 20px;
  line-height: 20px;
}
.slider-controls a.slider-prev {
  border-right: 1px solid #fff;
}
.slider-controls a.slider-next {
  border-left: 1px solid #fff;
}
.find-delivery {
  background: #ebebeb;
  padding: 100px 0;
}
.find-delivery h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}
.find-delivery p {
  font-size: 16px;
  color: #6e7882;
}
.find-delivery .number-delivery-title {
  padding: 35px 0;
}
.find-delivery .write-number-delivery {
  position: relative;
  height: 110px;
  padding: 20px 0;
  background: #c4c628;
}
.find-delivery .write-number-delivery input {
  padding: 0 10px;
  height: 45px;
  width: 90%;
  margin: 32px 5%;
}
.find-delivery .write-number-delivery button {
  background: #af1f15;
  border: none;
  color: white;
  position: absolute;
  right: 13px;
  top: 37px;
  height: 30px;
  width: 30px;
  margin: 2.5px 0;
}
.find-delivery .more-delivery {
  background: #232323;
  height: 110px;
  padding: 15px;
}
.find-delivery .more-delivery p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}
.find-delivery .more-delivery a {
  color: #c5d2df;
  font-size: 16px;
  margin: 10px 0;
}
.find-delivery .more-delivery a asdf i {
  color: #c4c628 !important;
}
.find-delivery .more-delivery a:hover {
  color: #fff;
  text-decoration: none;
}
.info-slider {
  padding-top: 70px;
}
.info-slider ul {
  list-style: none;
  padding: 50px 0;
}
.info-slider ul li {
  color: #6e7882;
  text-transform: uppercase;
  margin-right: 30px;
  float: left;
  cursor: pointer;
}
.info-slider ul li:hover {
  color: black;
}
.info-slider .about-images img {
  width: 100%;
}
.info-delivery {
  padding: 80px 0;
}
.info-delivery h6 {
  margin-top: 50px;
  padding: 0 15px;
  width: 280px;
  background: #c4c628;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
}
.info-delivery h6 span {
  color: #af1f15;
}
.info-delivery p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.info-delivery a {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}
.info-delivery img {
  width: 100%;
}
.footer {
  padding: 50px 0;
  background: #232323;
}
.footer .col-xs-4 {
  padding: 20px 20px;
  min-height: 190px;
  border-right: 1px solid #7d858d;
}
.footer .col-xs-4:last-child {
  border: none;
}
.footer h6 {
  padding: 0;
  font-size: 17px;
  color: white;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul li a {
  color: #7d858d;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.footer ul li a:hover {
  text-decoration: none;
  color: white;
}
#first-section {
  height: 100%;
  color: #fff;
  background-image: url('../img/assets/background/2background.jpg');
  background-size: cover;
  background-position: center 0px;
}
#first-section .small-logo-right .small-logo-right-image {
  padding: 12px 18px 12px 18px;
  background: rgba(255, 255, 255, 0.8);
}
#first-section .first-section-inner {
  height: 100%;
}
#first-section .first-section-inner .row {
  height: 100%;
}
#first-section .first-section-inner .row .first-section-text-content {
  height: 100%;
}
#first-section .first-section-inner .row .first-section-text-content .first-section-text-content-header {
  position: relative;
  top: 40%;
  transform: translateY(-60%);
}
#first-section .first-section-inner .row .first-section-text-content .first-section-text-content-header h5 {
  margin: 0;
  text-shadow: 0px 0 3px rgba(0, 0, 0, 0.4);
}
#first-section .first-section-inner .row .first-section-text-content .first-section-text-content-header h2 {
  letter-spacing: 1.5px;
  line-height: 60px;
  margin: 17px 0;
  padding: 0 5px;
  text-shadow: 0px 0 3px rgba(0, 0, 0, 0.4);
}
#first-section .first-section-inner .row .first-section-text-content img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
}
