<div class="sidebar-menu">
    <ul>
      <a href="/"><li><i class="fa fa-home" aria-hidden="true"></i>HOME</li></a>
      <a href="/clients/sign_in"><li><i class="fa fa-certificate" aria-hidden="true"></i>Panel Klienta</li></a>
      <a href="/users/sign_in"><li><i class="fa fa-certificate" aria-hidden="true"></i>Panel użytkownika</li></a>
    </ul>
</div>
