<div class="sidebar-menu">
    <ul>
      <a href="/"><li><i class="fa fa-home" aria-hidden="true"></i>HOME</li></a>
      <a href="/user"><li><i class="fa fa-certificate" aria-hidden="true"></i>Panel Magazyniera</li></a>
      <a href="/packages"><li><i class="fa fa-certificate" aria-hidden="true"></i>Paczki</li></a>
      <a href="/users/edit"><li><i class="fa fa-cog" aria-hidden="true"></i>Edytuj Dane</li></a>
      <a href="/users/sign_out"><li><i class="fa fa-certificate" aria-hidden="true"></i>Wyloguj się</li></a>
    </ul>
</div>
